# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
*.sqlite3*
*.sqlite3-journal
*.db
*.log

# Node / Frontend
node_modules/
.npm
.eslintcache
dashboard/build/
dashboard/dist/
dashboard/.env

# Environment / Secret files
.env
panel/.env
panel/dashboard/.env

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*Zone.Identifier
*.bat
*.cmd
*.ps1

# Build / Binaries
v2ray-core/
xray-core/
